<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body background="{{ site.github.url }}/assets/1000px-Triforce.svg.png">
		<nav>
    		<ul>
        		<li><a href="/">Temple of Time</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Quest bLog</a></li>
    		</ul>
		</nav>
		<div class="container">
		
    		{{ content }}
    		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:linkreincarnated@gmail.com">email</a></li>
        		<li><a href="https://github.com/linkReincarnated">github.com/linkReincarnated</a></li>
			</ul>
		</footer>
	</body>
</html>
